<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css">
    <script src="/static/myJS/scroll.js"></script>
    <title>周报查询结果</title>
    <style type="text/css">
        .div{position:absolute;margin-left: 20px;top: 107px;font-size: 14px;}
        {#表格框主体数据宽高#}
	    td {
		    line-height: 25px;
		    text-align:center;
	    }
        {#表格框左第一格数据宽高#}
	    td:first-child{
		    background-color: grey;
	    }
        {#表格头数据宽高#}
        th {
		    line-height: 60px;
		    text-align:center;
		    background-color: darkgrey;
	    }

	</style>
    <script>
    {# 数据设置整数:第一个参数是起始位置，第二个参数是终止位置，第三个参数是步长 #}
    {# 列颜色设置:第四个参数是起始位置，第五个参数是终止位置，第六个参数是步长  #}
        window.myfunction(1,10,1,3,6,3);
    </script>
</head>

<body>
    <h2 style="margin-left: 20px">查询得到{{ info.platformname }}平台{{ info.wRptstartdate }}到{{ info.wRptenddate }}的数据</h2>
    <p class="form-actions" style="position:relative;left: 20px;top: 10px">
        <a href="JavaScript:history.back(-1)"><input type="button" value="返回" class="btn btn-danger"></a>
        <a href="../download?platformname={{ info.platformname }}&wRptstartdate={{ info.wRptstartdate }}&wRptenddate={{ info.wRptenddate }}&day={{ info.day }}"><input type="button" value="下载" class="btn btn-info"></a>
    </p>

    <div id="topic" class="div" style="z-index: 999">
        <table id="top_title" cellpadding="0" cellspacing="0" border="1" style="width:2000px;font-size: 13px">
            <thead>
                <tr>
                    <th width="150">日期</th>
                    <th>设计带宽(GBps)</th>
                    <th>输出带宽(GBps)</th>
                    <th>输出带宽占比%</th>
                    <th>流媒体总并发(个)</th>
                    <th>流媒体峰值并发(个)</th>
                    <th>流媒体并发率%</th>
                    <th>芒果tv(Mbps)</th>
                    <th>4k(Mbps)</th>
                    <th>优酷(Mbps)</th>
                    <th>机顶盒下载(Mbps)</th>
                    <th>百事通回源(Mbps)</th>
                    <th>测速(Mbps)</th>
                    <th>播播(Mbps)</th>
                    <th>天翼视讯(Mbps)</th>
                    <th>教育中心(Mbps)</th>
                    <th>华数(Mbps)</th>
                    <th>嘉攸(Mbps)</th>
                    <th>嘉攸直播(Mbps)</th>
                </tr>
            </thead>
        </table>
    </div>

    <div id="left" class="div">
        <table id="left_title" cellpadding="0" cellspacing="0" border="1">
            <thead>
                <tr>
                    <th width="150">日期</th>
                </tr>
            </thead>
        </table>
    </div>

    <table id="table" cellpadding="0" cellspacing="0" border="1" style="width:2000px;margin-left: 20px;font-size: 13px;">
        <thead>
            <tr>
                <th width="150">日期</th>
                <th>设计带宽(GBps)</th>
                <th>输出带宽(GBps)</th>
                <th>输出带宽占比%</th>
                <th>流媒体总并发(个)</th>
                <th>流媒体峰值并发(个)</th>
                <th>流媒体并发率%</th>

                <th>芒果tv(Mbps)</th>
                <th>4k(Mbps)</th>
                <th>优酷(Mbps)</th>
                <th>机顶盒下载(Mbps)</th>
                <th>百事通回源(Mbps)</th>
                <th>测速(Mbps)</th>
                <th>播播(Mbps)</th>
                <th>天翼视讯(Mbps)</th>
                <th>教育中心(Mbps)</th>
                <th>华数(Mbps)</th>
                <th>嘉攸(Mbps)</th>
                <th>嘉攸直播(Mbps)</th>
            </tr>
        </thead>

        <tbody>
        {% for x in form.data %}
            <tr style="position: static;top: 100px;">
                {% for y in x %}
                    <td>
                        <div contenteditable="false">
                            {{ y }}
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>